.hero-image { 
    background-image: url('/assets/hero.jpeg'); 
    /* min-height: 500px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top:auto; */
    opacity: .7;

  }
    /* div.transbox {
    margin:auto;
    background-color: #ffffff;
    opacity: 0.6;
  } */

  /* div.transbox h1{
    margin:auto;
    font-weight: bold;
    color: #000000;
  }
  div.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

  }

  .name {
    font-size: 10ch;
    margin-bottom: 2ch;
    font-weight: bold;
    
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  } */

  /* Landing Page */

  /* .mentor {
    max-width: 25%;
  } */