footer {
    background-color:  rgb(169, 88, 38);
    margin-left: -15px;
    margin-right: -15px;
}

.img-responsive {
    max-width: 100%;
}

.footerDiv {
    max-width: 100%;
    margin-top: 1rem;
}

.logo {
    max-width: 60%;
}

/* .social {
    color: white;
    margin-left: 5%;
} */